<div class="ui-tabcontent js-ui-tabcontent">
	<div class="content-tray js-content-tray">
	</div>
	<div class="add js-add">
		<%= i18n.add %> <%= i18n.a %>
		<span role="button" tabindex="0" class="js-add-field-button add-button"><%= i18n.field %></span>
		, <%= i18n.a %>
		<span role="button" tabindex="0" class="js-add-group-button add-button"><%= i18n.hash %></span>
		<%= i18n.or %> <%= i18n.a %>
		<span role="button" tabindex="0" class="js-add-list-button add-button"><%= i18n.array %></span>
	</div>
</div>